.container-marcas{
    width: 100%;
    /*background: goldenrod;*/
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    /*background-color: brown;*/
}
.container div{
    border-radius: 5px;
    width:180px;    
}
.container div img{
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 10px 10px 0 rgba(141, 138, 138, 0.7);
}

